{% extends "base_sistema.html" %}
{% load static %}

{% block title %}Cadastrar Disciplina{% endblock %}
{% block nav_academico_menu %}pcoded-trigger{% endblock %}
{% block nav_gestao_disciplinas %}active{% endblock %}

{% block content %}
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Cadastro de Disciplina</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Cadastrar Disciplina</h5>
            </div>

            <div class="card-block">
                <form method="post" action="{% url 'cadastrar-disciplina' %}">
                    {% csrf_token %}
                    <!-- NOME -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nome</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nome"
                                value="{{ nome|default:'' }}" placeholder="Nome da disciplina" required>
                        </div>
                    </div>

                    <!-- PROFESSOR -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Professor</label>
                        <div class="col-sm-10">
                            <select name="professor" class="form-control" required>
                                <option value="">Selecione o professor</option>
                                {% for prof in professores %}
                                    <option value="{{ prof.id }}">
                                        {{ prof.first_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- BOTÕES -->
                    <div>
                        <a href="{% url 'gestao-disciplinas' %}" class="btn btn-out btn-danger btn-square" style="float: right; margin-right: 16px;">Cancelar</a>
                        <button type="submit" class="btn btn-out btn-primary btn-square" style="float: right; margin-right: 16px;">Salvar</button>
                    </div>
                </form>
            </div><!-- card-block -->
        </div><!-- card -->
    </div>
</div>
{% endblock %}
