{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>{% block title %}Controle de Notas{% endblock %} - Colégio Dom Bosco</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icon/feather/css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/icon/icofont/css/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <!-- NAVBAR TOP -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="#">
                            <img class="img-fluid" src="{% static 'assets/images/logo_menu.png' %}" alt="Logo" width="180">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{% static 'assets/images/download.png' %}" class="img-radius" alt="Foto do usuário">
                                        <span>
                                            {% if request.user.groups.all.0.name == 'aluno' %}
                                                Aluno
                                            {% else %}
                                                Professor
                                            {% endif %}
                                        </span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>
                                    <ul class="show-notification profile-notification dropdown-menu"
                                        data-dropdown-in="fadeIn"
                                        data-dropdown-out="fadeOut">
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <i class="feather icon-log-out"></i> Sair
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- NAVBAR TOP END -->

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- SIDEBAR -->
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">

                            <!-- MENU PROFESSOR -->
                            {% if request.user.groups.all.0.name == 'professor' %}
                            <div class="pcoded-navigatio-lavel">
                                Olá, {{ request.user.first_name }}
                            </div>
                            <div class="pcoded-navigatio-lavel">Notas</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu {% block nav_notas_menu %}{% endblock %}">
                                    <a href="javascript:void(0)">
                                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                                        <span class="pcoded-mtext">Alunos</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="{% block nav_lista_notas %}{% endblock %}">
                                            <a href="{% url 'lista-notas' %}">
                                                <span class="pcoded-mtext">Listar</span>
                                            </a>
                                        </li>
                                        <li class="{% block nav_cadastrar_notas %}{% endblock %}">
                                            <a href="{% url 'cadastrar-notas' %}">
                                                <span class="pcoded-mtext">Cadastrar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %} 

                            <!-- MENU ALUNO -->
                            {% if request.user.groups.all.0.name == 'aluno' %}
                            <div class="pcoded-navigatio-lavel">
                                Olá, {{ request.user.first_name }}
                            </div>
                            <div class="pcoded-navigatio-lavel">Minhas Notas</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="{% block nav_minhas_notas %}{% endblock %}">
                                    <a href="{% url 'minhas-notas' %}">
                                        <span class="pcoded-micon"><i class="ti-book"></i></span>
                                        <span class="pcoded-mtext">Boletim</span>
                                    </a>
                                </li>
                            </ul>
                            {% endif %}

                        </div>
                    </nav>
                    <!-- SIDEBAR END -->

                    <!-- CONTEÚDO -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">

                                    {% if messages %}
                                        <div class="row">
                                            <div class="col-12">
                                                {% for message in messages %}
                                                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible alert-auto-hide" role="alert">
                                                        {{ message }}
                                                        <button type="button" class="close" data-dismiss="alert">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="page-body">
                                        {% block content %}{% endblock %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- CONTEÚDO END -->

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'vendor/modernizr/js/modernizr.js' %}"></script>
    <script src="{% static 'vendor/modernizr/js/css-scrollbars.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/vartical-layout.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

    <script> 
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".alert-auto-hide").forEach(function (alertBox) {
            setTimeout(() => {
                alertBox.style.transition = "opacity 0.8s";
                alertBox.style.opacity = "0";
                setTimeout(() => alertBox.remove(), 800);
            }, 10000);
        });
    });
    </script>
    

    {% block extra_js %}{% endblock %}

</body>
</html>
